@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url("./mobile.css");

:root {
  --body: #f3f3f3;
  --nav: rgba(0, 0, 0, 0.8);
  --nav-title: #f9b600;
  --footer: rgba(64, 161, 172, 0.8);
  --footer-text: white;
  --footer-progress: rgba(0, 0, 0, 0.2);
  --footer-progress--filled: rgba(255, 255, 255, 0.9);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--body);
  line-height: 1.2em;
  cursor: default;
  font-size: 14px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 1.2em;
}

label {
  opacity: 0.8;
}

select {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  line-height: 1.3;
  padding: 8px 12px;
  width: 100%;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('./../images/dropdown.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 18px top 16px, 0 0;
  background-size: 9px auto, 100%;
  margin-bottom: 12px;
}

/* Header */
nav {
  background-color: var(--nav);
  color: white;
  padding: 12px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav a, nav a:hover {
  color: white;
}

nav img {
  max-height: 18px;
  max-width: 18px;
  margin-left: 9px;
}

.nav-brand {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.nav-title {
  color: var(--nav-title);
  margin-left: 12px;
}

/* Utils */
.hidden {
  display: none !important;
}

.placeholder {
  opacity: 0.5;
}

/* Content */
.app {
  min-height: 100vh;
  padding-top: 72px;
  padding-bottom: 72px;
}

.logo {
  height: 64px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.content-width--small {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

.filter-wrapper {
  margin-bottom: 32px;
}

.filter-wrapper select.filter-option {
  margin-left: -24px;
}

.tool-tip {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px) saturate(200%);
  border-radius: 3px;
  color: white;
  max-width: 240px;
  opacity: 1;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
}

.tool-tip td {
  font-size: 13px;
  padding: 3px 6px;
  vertical-align: text-top;
}

.tool-tip td:first-child {
  opacity: 0.5;
  padding-left: 0;
  white-space: nowrap;
}

.tool-tip td:last-child {
  padding-right: 0;
}

/* Chart */
.filter-wrapper {
  margin-bottom: 18px;
}

.chart-wrapper {
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 32px;
  padding: 18px;
}

.messages-wrapper {
  background: rgba(0, 0, 0, 0.03);
  padding: 12px 12px;
  border-radius: 5px;
  height: calc(100% - 32px);
  overflow-y: scroll;
  margin-bottom: 32px;
}

.message {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
}

.message-question {
  margin-left: 32px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.03);
}

.message-response {
  margin-right: 32px;
  background-color: white;
  border-left-width: 6px;
  border-left-style: solid;
}

.x-axis {
  stroke-width: 1px;
  stroke: black;
}

.x-axis--label {
  text-anchor: middle;
  fill: black;
}

.legend-item {
  padding-left: 6px;
  border-left: 6px solid;
  height: calc(100% - 6px);
  display: inline-block;
  margin-bottom: 6px;
}

/* Footer */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--footer);
  /* backdrop-filter: blur(2px) saturate(200%); */
}

.footer-button {
  background: rgba(0, 0, 0, 0.2);
  padding: 12px 24px;
  border: none;
  color: var(--footer-text);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: bold;
}

.footer-button:hover {
  background: rgba(0, 0, 0, 0.4);
}

.footer-button:disabled {
  opacity: 0.3;
}

.footer-button:disabled:hover {
  background: rgba(0, 0, 0, 0.2);
}

.footer-progress {
  height: 4px;
  margin: 2px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: var(--footer-progress);
}

.footer-progress--filled {
  background: var(--footer-progress--filled);
}

/* Login modal */
.modal-wrapper {
  background-color: rgba(100, 50, 70, 0.9);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-content {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  max-width: 320px;
  padding: 24px;
  text-align: center;
}

/* Animate */
.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}
