@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("./mobile.css");

:root {
  --body: #f3f3f3;
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-03: rgba(0, 0, 0, 0.03);
  --maroon-90: rgba(100, 50, 70, 0.9);
  --yellow: #f9b600;
  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--body);
  line-height: 1.2em;
  cursor: default;
  font-size: 14px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 1.2em;
}

label {
  opacity: 0.8;
}

select {
  box-shadow: var(--shadow);
  line-height: 1.3;
  padding: 8px 12px;
  width: 100%;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url("./../images/dropdown.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 18px top 16px, 0 0;
  background-size: 9px auto, 100%;
  margin-bottom: 12px;
}

/* Header */
nav {
  background-color: var(--black-80);
  color: white;
  padding: 12px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav a,
nav a:hover {
  color: white;
}

.nav-brand {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.nav-title {
  color: var(--yellow);
  margin-left: 12px;
}

/* Utils */
.hidden {
  display: none !important;
}

.placeholder {
  opacity: 0.5;
}

/* Content */
.app {
  min-height: 100vh;
  padding-top: 72px;
  padding-bottom: 72px;
}

.filter-wrapper {
  margin-bottom: 32px;
}

.filter-wrapper #filter-option {
  margin-left: -24px;
}

.tool-tip {
  background-color: var(--black-60);
  backdrop-filter: blur(4px) saturate(200%);
  border-radius: 6px;
  color: white;
  max-width: 240px;
  opacity: 1;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
}

.tool-tip td {
  font-size: 13px;
  padding: 3px 6px;
  vertical-align: text-top;
  font-size: 0.8em;
}

.tool-tip td:first-child {
  opacity: 0.5;
  padding-left: 0;
  white-space: nowrap;
  text-align: right;
}

.tool-tip td:last-child {
  padding-right: 0;
}

/* Chart */
.filter-wrapper {
  margin-bottom: 18px;
}

.chart-wrapper {
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--shadow);
  margin-bottom: 32px;
  padding: 18px;
  overflow-x: scroll;
}

.messages-wrapper {
  background-color: var(--black-03);
  padding: 12px 12px;
  border-radius: 6px;
  height: calc(100% - 60px);
  overflow-y: scroll;
  margin-bottom: 32px;
}

.message {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
}

.message-question {
  margin-left: 32px;
  text-align: right;
  background-color: var(--black-03);
}

.message-response {
  margin-right: 32px;
  background-color: white;
  border-left-width: 6px;
  border-left-style: solid;
}

.x-axis {
  stroke-width: 1px;
  stroke: black;
}

.x-axis--label {
  text-anchor: middle;
  fill: black;
}

.legend-item {
  padding-left: 6px;
  border-left: 6px solid;
  height: calc(100% - 6px);
  display: inline-block;
  margin-bottom: 6px;
}

.capitalise-text {
  text-transform: capitalize;
}

.themes-metacodes-switch {
  padding-top: 24px;
  margin-left: 15px;
}

.themes-metacodes-switch span {
  padding: 6px 12px;
  border: 1px solid #888;
}

.themes-metacodes-switch span:hover {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #888;
  cursor: pointer;
}

.themes-metacodes-switch span.is-active {
  background: rgba(0, 0, 0, 0.1);
}

.themes-metacodes-switch span:first-child {
  border-right: none;
  border-radius: 3px 0 0 3px;
}

.themes-metacodes-switch span:last-child {
  border-radius: 0 3px 3px 0;
}

/* Login modal */
.modal-wrapper {
  background-color: var(--maroon-90);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#loading-modal {
  text-align: center;
  padding-top: 25%;
  background-color: var(--black-10);
  backdrop-filter: blur(4px) saturate(50%);
}

#loading-modal span {
  animation: blink 1s linear infinite;
  background-color: white;
  border-radius: 6px;
  padding: 12px 18px;
}

.modal-content {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  max-width: 320px;
  padding: 24px;
  text-align: center;
}

/* Animate */
.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
